/* application of the css modules */
.nav {
  background-color: orangered;
}

.nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
}
/* to make an css property available global this way we use the global function
:global(.test) {
  background-color: orange;
} */

.nav :global(.active) {
  background-color: green;
}
